<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        img {
            width: 55px;
            height: 55px;
        }
    </style>
</head>

<body>
    <h1>Low cohision and tight coupling</h1>
    <div ng-controller="myController">
        <input type="text" ng-model="name" ng-keyup="keyup();" ng-blur="blur();" />
        <p>Total numeric value of person's name: {{totalValue}}</p>
    </div>
    <br/>

    <h1>Flip images</h1>
    <div ng-controller="myController2">
        <button ng-click="flip();">{{state}}</button>
        <br/><br/>
        <img ng-src="images/{{state}}.png" alt="Not Found Image" />
    </div>
    <br/>

    <h1>Filter</h1>
    <div ng-controller="myController3">
        <p>{{text}}</p>
        <input ng-model="text2" type="text" ng-blur="blurInput();" />
        <p>{{text2 | append}} </p>
        <p>Change text: {{text2 | changeText: "anonymous" : "Thang" }}</p>
    </div>

    <h1>Digest Cycle</h1>
    <div ng-controller="myController4">
        <button ng-click="showWatcherCount();">Show Watcher Count</button>
        <button ng-click="incrementWatcher();">Increment Watcher</button>
        <button ng-click="callTimeout();">Call Timeout</button>
        <p>2 ways watcher: <input type="text" ng-model="watcher1" /></p>
        <p>1 ways watcher: <span>{{watcher2}}</span></p>
        <p>1 time watcher: <span>{{::watcher3}}</span></p>
    </div>

    <h1>NG-REPEAT</h1>
    <div ng-controller="myController5">
        <h2>Shopping List 1:</h2>
        <ul>
            <li ng-repeat="item in shoppingList1">{{item}}</li>
        </ul>
        <input type="text" placeholder="New item name" ng-model="newItemNameList1">
        <button ng-click="addNewItemList1();">Add Item</button>
        <h2>Shopping List 2:</h2>
        <ul>
            <li ng-repeat="item in shoppingList2">{{$index+1}} .Name: {{item.name}}, quantity: {{item.quantity}}</li>
        </ul>
        <input type="text" placeholder="New Item Name" ng-model="newItemNameList2">
        <input type="text" placeholder="New Item quantity" ng-model="newItemQuantityList2">
        <button ng-click="addNewItemList2();">Add Item</button>
        <h2>Filtered Ng-repeat</h2>
        <ul>
            <li ng-repeat="item in shoppingList1">{{item}}</li>
        </ul>
        <input ng-keyup="search();" type="text" ng-model="searchKey">
        <h3>Search Result</h3>
        <ul>
            <li ng-repeat="item in shoppingList1 | filter: searchKey">{{item}}</li>
        </ul>
    </div>
</body>

</html>